html {
    scroll-behavior: smooth;
    /*background: linear-gradient(to bottom, #6666ff 0%, #ff99cc 100%);*/
    background: linear-gradient(to bottom, #000000 0%, #ff0000 59%);
}

h1 {
    font-family: 'MonteCarlo', cursive;
    font-size: 12em;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    text-align: center;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Questrial', sans-serif;
}

h5 {
    font-family: 'Rajdhani', sans-serif;
}

h6 {
    font-family: 'Jura', sans-serif;
}

.card {
    border-radius: 1em;
    box-shadow: 0px 0px 10px #646464;
    margin: 1.5%;
    background: rgba(255, 255, 255, 0.513);
    color: black;
}

.big-panel {
    float: right;
    width: 74%;
}

.mid-panel {
    float: left;
    width: 20%;
}

.iterable-title {
    color: black;
    text-decoration: none;
}

.iterable-button {
    text-align: center;
    font-size: 3em;
    margin: 4% 10%;
    border-radius: 0.1em;
    background-color: rgb(251, 255, 233);
    transition: 0.5s;
    box-shadow: 1px 1px 0.1px;
}

.iterable-button:hover {
    font-size: 3.5em;
    border-radius: 0.2em;
    background-color: rgb(189, 255, 102);
    box-shadow: 1px 1px 10px;
}

.active {
    background-color: #ffe600ca;
}

.artist-label-picture {
    float: left;
    width: 25em;
    border: 100% solid black;
    border-radius: 3%;
    margin: 5% 0% 5% 5%;
    display: block;
    box-shadow: 0px 0px 10px #646464;
}

.artist-label-name {
    font-size: 10em;
    margin: 10% 0%;
}

.artist-label-text {
    margin: 5%;
}