html {
    scroll-behavior: smooth;
    /*background: linear-gradient(to bottom, #6666ff 0%, #ff99cc 100%);*/
    background: linear-gradient(to bottom, #000000 0%, #ff0000 59%);
}

h1 {
    font-family: 'MonteCarlo', cursive;
    font-size: 12em;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    text-align: center;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Questrial', sans-serif;
}

h5 {
    font-family: 'Rajdhani', sans-serif;
}

h6 {
    font-family: 'Jura', sans-serif;
}

.card {
    border-radius: 1em;
    box-shadow: 0px 0px 10px #000000;
    margin: 1.5%;
    background: linear-gradient(to bottom, #000000da 50%, #530000a1 100%);
    color: rgb(211, 211, 211);
}


.card:target {
    box-shadow: 0px 0px 5px #000000;
}

.big-panel {
    float: right;
    width: 74%;
}

.mid-panel {
    float: left;
    width: 20%;
}

.iterable-title {
    color: black;
    text-decoration: none;
}

.iterable-button {
    text-align: center;
    font-size: 3em;
    margin: 4% 10%;
    border-radius: 0.1em;
    background-color: rgb(251, 255, 233);
    transition: 0.5s;
    box-shadow: 1px 1px 5px white;
    border-radius: 0.6em 0.2em;
}

.iterable-button:hover {
    font-size: 3.5em;
    background-color: rgb(255, 187, 0);
    box-shadow: 1px 1px 5px rgb(255, 187, 0);
}

.iterable-button.active {
    background-color: #ff0000;
    box-shadow: 1px 1px 5px #ff0000;
}

.artist-label-picture {
    float: left;
    width: 25em;
    border: 100% solid black;
    border-radius: 3%;
    margin: 5% 0% 5% 5%;
    display: block;
    box-shadow: 0px 0px 10px #ffffff;
}

.artist-label-name {
    font-size: 10em;
    margin: 10% 0%;
}

.artist-label-text {
    margin: 5%;
}

.prod-card {
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 4em;
    margin: 2em;
    width: 20em;
    height: 10em;
    float: left;
    transition: 0.5s;
    border-radius: 4em 0.5em;
}

.prod-card h3
{
    font-size: 3em;
    margin: 0.5em;
}

.prod-card h4
{
    font-size: 2em;
    margin: 1em;
}

.prod-card:hover {
    background-color: rgb(255, 187, 0);
    border-radius: 4em;
}

.research-bar {
    z-index: 1;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 4em;
    margin: 1em;
    border-radius: 4em 0.5em;
    transition: 0.5s;
    border: none;
    border: 2px solid white;
}

.research-bar:hover {
    border-radius: 4em;
}

.research-bar:focus {
    border-radius: 4em;
    outline: none;
    box-shadow: 0px 0px 5em rgba(255, 255, 255, 0.37);
    background-color: black;
    color: white;
    border-color: white;
    border: 2px solid white;
}

.research-button {
    border: none;
    padding: 0em 0.5em;
    font-size: 4em;
    border-radius: 4em 0.5em;
    background-color: red;
    border: 4px solid red;
    transition: 0.5s;
    font-family: 'Jura', sans-serif;
}

.research-button:hover {
    border-radius: 4em;
}

.research-button:focus {
    background-color: black;
    color: red;
}

.narrative-text {
    margin: 1em 5em;
    text-align: justify;
    line-height: 2em;
}