.button-play {
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    border-color: transparent transparent transparent #000000;
    cursor: pointer;
    will-change: border-width;
    transition: all .2s ease;
    float: left;
    margin: 3em;
}

.button-play.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
    border-color: transparent transparent transparent #ff0000;
}
    
.button-play:hover {
    border-color: transparent transparent transparent #ff0000;
}

.instrucard {
    background-color: white;
    color: black;
    border-radius: 4em 2em;
    float: left;
    margin: 2em 4em;
    width: 20em;
    border: solid white 4px;
    transition: 0.5s;
    box-shadow: 1px 1px 5px white;
}

.instrucard:hover {
    background-color: black;
    border: solid red 4px;
    color: white;
    border-radius: 4em;
}

.instrutext {
    float: center;
    text-align: center;
}