<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=MonteCarlo&family=Questrial&family=Rajdhani:wght@300&family=Roboto+Slab:wght@500&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/player.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/album.css' %}" type="text/css">

    {% if page_name != "Bienvenue" %}
    <script type="text/javascript">
    window.onload = () => {
        
        var my_element = document.getElementById("big-panel");

        my_element.scrollIntoView({
            behavior: "instant",
            block: "start",
            inline: "nearest"
        });

        {% if prods %}

            var current_beat = -1

            let btns = document.getElementsByClassName('button-play')
            let beat = []
            
            {% for prod in prods %}
                beat.push(document.getElementById('prod{{ forloop.counter0 }}'))
                beat[{{ forloop.counter0 }}].currentTime = 30
                beat[{{ forloop.counter0 }}].muted = true
                console.log('{{ forloop.counter0 }}')
            {% endfor %}

            {% for prod in prods %}

            btns[{{ forloop.counter0 }}].onclick = function ()
            {
                if (beat[{{ forloop.counter0 }}].muted) {
                    if (current_beat !== -1)
                    {
                        beat[current_beat].muted = true
                        beat[current_beat].currentTime = 30
                        btns[current_beat].classList.remove('paused')
                    }
                    current_beat = {{ forloop.counter0 }}
                    beat[{{ forloop.counter0 }}].muted = false
                    beat[{{ forloop.counter0 }}].play()
                btns[{{ forloop.counter0 }}].classList.add('paused')
                }
                else {
                    beat[{{ forloop.counter0 }}].muted = true
                    beat[{{ forloop.counter0 }}].currentTime = 30
                btns[{{ forloop.counter0 }}].classList.remove('paused')
                }
            }
        {% endfor %}

        {% endif %}
    }
    </script>
    {% else %}
    <script>
        window.onload = function () {
            window.scrollTo(0, 0);
            welcome = document.getElementById('welcome')
            welcome.classList.add('welcome-title')

            setTimeout(function () {
                var my_element = document.getElementById("navbar");

                my_element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            }, 8000)
        }
    </script>
    {% endif %}
    
</head>
<body>

    <h1 id="welcome">{{ page_name }}</h1>

    {% include 'label/navbar.html' with active=nav_current %}


    {% if page_name != "Bienvenue" %}

    <div class="mid-panel card">
        <h4 style="font-size: 2em; text-align: center">Plus de détails sur {{ iterable_name }} </h4>

        {% for iterator in iterable %}
            <h3 class="iterable-button {% if active_iterator == iterator.id %} active {% endif %}"><a class="iterable-title" href="/{{ app_name }}/{{ iterator.id }}">{{ iterator.name }}</a></h3>
        {% endfor %}


    </div>
    <div id="big-panel" class="big-panel card">
        {% block content %} {% endblock content %}
    </div>
    {% endif %}

</body>
</html>