{% extends 'label/base.html' %}

{% block content %}


{% if not type_name %}


<div>
    <div>
        <h2>Un service de composition accessible</h2>
        <h3 style="margin: 3em;">B.T.M Production, décliné de José Records est l'organisme qui a à charge la compition d'oeuvre instrumentale</h3>

    </div>

    <div style="margin: 7em">
        <h2 style="font-size:2em;">Voici les types de productions produites :</h2>

        {% for type in iterable %}
            <a class="prod-card" href="/btm/{{type.id}}">
                <h3>{{ type.name }}</h3>
                <h4>{{ type.size }} choix</h4>
            </a>
        {% endfor %}

    </div>
    
    <label for="prod-search">Rechercher une prod</label>
    <input class="research-bar" type="search" id="prod-search" class="" name="btm-type-search" aria-label="Rechercher">
    <button type="submit" placeholder="Rechercher une prod" class="research-button">Rechercher</button>

</div>

{% else %}


    <div>
        <h2>{{ type_name }}</h2>
        <h3>Voilà {{ type_size }} beats du genre {{ type_name }}. Tu peux les écouter et les télécharger à ta guise !</h3>

        {% for prod in prods %}
        <div id=prod{{ prod.id }} class="instru-card">
            <div class="button"></div>
            <h3>{{ prod.name }}</h3>
            <h4>{{ prod.reference }}</h4>
            <audio id="prod{{ forloop.counter0 }}">
                <source src="{{ prod.music.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        {% endfor %}

    <div>

{% endif %}


{% endblock %}