{% extends 'label/base.html' %}

{% block content %}


{% if not type_name %}


<div>
    <div>
        <h2>Un service de composition accessible</h2>
        <h3 style="margin: 3em;">B.T.M Production, décliné de José Records est l'organisme qui a à charge la composition d'oeuvre instrumentale</h3>

    </div>

    <div style="margin: 7em">
        <h2 style="font-size:2em;">Voici les types de productions produites :</h2>

        {% for type in iterable %}
            <a class="prod-card" href="/btm/{{type.id}}">
                <h3>{{ type.name }}</h3>
                <h4>{{ type.size }} choix</h4>
            </a>
        {% endfor %}

    </div>
    <form role="search" method="post" action="/btm/search">
        {% csrf_token %}
        <input class="research-bar" type="search" id="prod-search" class="" name="btm-type-search" aria-label="Rechercher">
        <button type="submit" placeholder="Rechercher une prod" class="research-button">Rechercher</button>
    </form>

</div>

{% else %}


    <div>
        {% if research %}
        
        <h2>{{ type_name }}</h2>
        <h3 style="text-align: center">Voici {{ type_size }} résultats pour "{{ type_name }}". Musique Maestro !</h3>
        
        {% else %}
        
        <h2>{{ type_name }}</h2>
        <h3 style="text-align: center">Voilà {{ type_size }} beats du genre {{ type_name }}. Tu peux les écouter et les télécharger à ta guise !</h3>

        {% endif %}

        {% for prod in prods %}
        <div class="instrucard" id="prod{{ prod.id }}">
            <div class="button-play"></div>
            <h3>{{ prod.name }}</h3>
            <h4>{{ prod.reference }}</h4>
            <audio id="prod{{ forloop.counter0 }}">
                <source src="{{ prod.music.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        {% endfor %}

    <div>

{% endif %}


{% endblock %}