{% extends 'label/base.html' %}

{% block content %}

{% if not artist %}


    <h2>Un label très accessible</h2>
    <h3>José Records a été créé en 2017 ! Le but était au départ d'offrir des services d'enregistrements à bas prix</h3>

{% else %}

    <image class="artist-label-picture" src="{{ artist.picture.url }}">
    <h2 class="artist-label-name">{{ artist.name }}</h2>
    <h3 class="artist-label-text">{{ artist.text }}</h3>

    <br>
    <h4>{% if artist.labeled %} Cet artiste a fait parti du Label José Records !
        {% else %} Cet artiste a été un client de José Records !
        {% endif %}
    </h4>

{% endif %}

{% endblock content %}